*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
}
.btn button{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 24px;
    cursor: pointer;
    
}

.btn button:hover{
    background-color:#F7F6F2 ;
    color: #000000;
}

header{
    background-color: #FFFFFF;
    padding: 16px;
  }
  nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

.sec-button{
    background-color: #FAFAFA;
    color: #000000;
    padding: 10px;
    border-radius: 50px;
}


.sec-button:hover{
    background-color: #469165;
    color: #000000;
    cursor: pointer;
}
  .space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style: none;
   
  }
  .space li a{
     text-decoration: none;
  }
  
#banner {
  position: relative;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 800px;
}
.banner-content h2 {
    font-size: 72px;
    font-weight: bold;
    margin: 16px;
}
.banner-content p{
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn{
    display: flex;
    cursor: pointer;
}

.btn button:hover{
    background-color: #ffffff;
    color: #000000;
}

.btn button{
    cursor: pointer;
}

.title-text{
    padding: 50px;
}

.title h1 {
    font-size: 48px;
    color: #001931;
    text-align: center;
    font-style: bold;
}

.title p {
    font-size: 16px;
    color: #627382;
    text-align: center;

}

#does{
    padding-top: 50px;
    text-align: center;
}
#does .does-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
 #does.does-content.section-heading{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;

}

#does .does-container .does-box {
    display: flex;
    gap: 24px;
}
.does-box .does-card {
    height: 300px;
    padding: 24px;
    border: 1px solid;
    max-width: 322px;
    box-shadow: 0 6px 8px 0 #000000;
}

.does-card img {
    background-color: red;
    padding: 6px;
    max-width: 60px;
    margin-bottom: 16px;
    border-radius: 100%;
}
.does-card h3 {
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.does-card p {
     font-size: 16px;
    line-height: 20px;
}

#solution{
    /* border: 1px solid red; */
    margin: 120px;
    display: flex;
    
}
#solution .solution-content{
    display: flex;
    gap: 40px;
    width: 85%;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;

}
#solution .solution-content,.solution-heading{
    padding-right: px;
}
#solution .solution-content h3 {
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}
#solution .solution-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#solution .solution-content p {
    font-size: 16px;
    color:#627382 ;
    margin-bottom: 40px;
}
#solution .solution-content ul li {
    font-size: 16px;
    color: #627382;
}

#think {
    /* padding-top: 120px; */
    margin-top: 0;
    margin-bottom: 120px;
}
#think .think-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 120px;
    margin-top:none;
}
#think .think-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin: 16px;
}
#think .think-container p{
    font-size: 16px;
    color: #627382;
}
#think .think-container .butt {
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: #fff;
    margin: 24px;
    text-align: center;
    cursor: pointer;
}

#think .think-container .butt:hover{
    background-color: #d0cec7;
    color: #000000;
    
}
.text-center  {
    text-align: center;
}
footer{
    background-color: #001931;
    height: 348px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 120px 120px 120px 160px;
    background-color: #001931;
    padding-top: 120px;
}
footer .right h4{
    font-size: 20px;
    color: #FFFFFF;
}
 .copy {
    text-align: center;
    color: #FAFAFA;
    margin-bottom: 30px;

}
.copy-row {
    border-top: 1px solid rgb(103, 98, 98);
    width: 1360px;
}